

.home-container {
    text-align: center; /* Centers the content */
    padding-top: 50px; /* Adds some space at the top */
    padding-bottom: 50px; /* Adds some space at the bottom */
  }
  
  .home-title {
    margin-bottom: 30px; /* Adds some space below the title */
    font-size: 2em; /* Enlarges the title */
    color: #213547; /* Sets the title color */
  }
  
  .app-image-container {
    display: block; /* Changed from inline-block to block */
    margin: 0 auto; /* Ensures no horizontal margin */
    padding: 0; /* Removes padding */
    width: 100vw; /* Sets the width to 100% of the viewport width */
    max-width: 100%; /* Ensures the container does not exceed the width of its parent */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .app-image {
    width: 100%; /* Adjust the width as needed, could be in px, vw, etc. */
    height: auto; /* Maintains aspect ratio */
    object-fit: cover; /* Adjusts the image size to cover the container while maintaining aspect ratio */
  }

  .teledogter-booking-button {
    background-color: orange;
    color: #333333;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    .home-container {
      text-align: center;
      padding-top: 50px;
      padding-bottom: 50px;
  }
  
  .home-title {
      margin-bottom: 30px;
      font-size: 2em;
      color: #213547;
  }
  
  .image-button-container {
      position: relative;
      display: inline-block; /* Wraps around the image */
  }
  
  .app-image {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 8px;
  }
  

  
  .video-icon {
      margin-left: 10px;
  }}