

.home-container {
    text-align: center;
    padding-top: 50px; 
    padding-bottom: 50px;
  }
  
  .home-title {
    margin-bottom: 30px;
    font-size: 2em;
    color: #213547;
  }
  
  .app-image-container {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100vw; 
    max-width: 100%; 
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .app-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .teledogter-booking-button {
    background-color: orange;
    color: #333333;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    .home-container {
      text-align: center;
      padding-top: 50px;
      padding-bottom: 50px;
  }
  
  .home-title {
      margin-bottom: 30px;
      font-size: 2em;
      color: #213547;
  }
  
  .image-button-container {
      position: relative;
      display: inline-block;
  }
  
  .app-image {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 8px;
  }
  

  
  .video-icon {
      margin-left: 10px;
  }}